#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  border: solid 1px black;
}

.cards {
  margin: 1rem;
}

.card-group {
  display: grid;
}

.loading {
  margin: 3rem;
}

#single-article-container {
  border: solid 1px black;
  padding: 1rem;
  background-color: rgba(184, 135, 11, 0.241);
}

#navbar {
  border: solid 1px black;
  background-color: rgba(25, 25, 112, 0.314);
}

#user-dropdown {
  background-color: rgba(255, 255, 255, 0.903);
  color: black;
}
